/*Navbarre*/

.OwlBook_NavBarre{
    background-color: purple;
    border-color: white;
    width: 100%;
    display: block;
}

.navbar-toggler{
    background-color: plum;
    color: lightyellow;
}

.navbar-toggler-icon{
    background-color: plum;
}

.navbar-nav{
    background-color: plum;
}

.Bienvenue{
    text-align: center;
    margin-top: 25px;
}

.texteB{
    margin-top: 15px;
}

.couple{
    text-align: center;
    margin: auto;
}

.responsable{
    margin-top: 15px;
}

.resto{
    text-align: center;
    margin: auto;
}

.semaine{
    margin-top: 15px;
}

/*restauration*/

.presentation{
    margin-top: 25px;
}

.accueil{
    margin-bottom: 170px;
}

/*carte*/

.btn-carte{
    background-color: purple;
    color: white;
}

.manger{
    margin-top: 54px;
}

.carte{
    margin-bottom: 154px;
    text-align: center;
}

.menu{
    margin-bottom: 26px;
    margin-top: 34px;
}

.carto{
    margin-bottom: 20px;
    margin-top: 16px;
}

.boisson{
    margin-bottom: 80px;
}

/*contact et reservation*/

.reser{
    margin-top: 15px;
}

.btn-reser{
    background-color: blueviolet;
    color: white;
}

.jumbotron {
    background: rgb(236, 136, 191);
    color: #FFF;
    border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px; }

.jumbotron small {
    color: #FFF;
}

.h1 small {
    font-size: 24px;
}

/* commentaire */


/*connexion*/

.formulaire{
    margin-bottom: 180px;
}

input:focus{
    border-color: yellow !important;
    box-shadow: 5px 5px 5px 5px gray !important;
}

input[type="button"]{
    font-weight: bold;

}

textarea:focus{
    border-color: rgb(241, 241, 8) !important;
    box-shadow: 5px 5px 5px 5px gray !important;
}

:required {
    border: solid red;
}

:required:valid {
    border: solid green ;
}